#!/usr/bin/make -f

override_dh_auto_build-indep:
	make -C objs/libsofia-sip-ua/docs/ Doxyfile.rfc
	$(MAKE) -C objs doxygen

override_dh_auto_test:

%:
	dh $@ --builddir=objs --with pkgkde_symbolshelper
