[Desktop Entry]
Name=TMWPhone
Comment=SIP Softphone
Exec=tmwphone
Icon=io.github.thomaswasle.TMWPhone
Terminal=false
Type=Application
Categories=Network;Telephony;
Keywords=SIP;VoIP;phone;call;
StartupWMClass=io.github.thomaswasle.TMWPhone
