[Desktop Entry]
Name=TMWPhone
Comment=SIP Softphone
Exec=tmwphone
Icon=net.loca.TMWPhone
Terminal=false
Type=Application
Categories=Network;Telephony;
Keywords=SIP;VoIP;phone;call;
StartupWMClass=net.loca.TMWPhone
